.navbar-container > a{
    position: relative;
    margin: 10px;
    color: #34495e;
    text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
}

a{
    cursor: pointer;
    color: black;
}

*{
    text-decoration: none;
    font-family: 'Cinzel Decorative'
}

.logo {
    position: absolute;
    top: 0px;
    right: 50px;
    color: #0a72da;
    text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
}